# Discord Developer Portal > OAuth2 > Client Information
VITE_CLIENT_ID=your_discord_client_id

# Supabase > Project Settings > API
VITE_SUPABASE_URL=https://xxxxxxxxxxxx.supabase.co
VITE_SUPABASE_ANON_KEY=your_anon_key
